.addbutton{
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: green;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;

    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.addbutton span{
    font-size: 28px;
}